.vs

## BatchInspectionCSharp
/WorkDemo/BatchInspectionCSharp/bin/*
/WorkDemo/BatchInspectionCSharp/obj/*

## CPUMonitor
/WorkDemo/CPUMonitor/bin/*
/WorkDemo/CPUMonitor/obj/*

## MQTTDemo
/WorkDemo/MQTTDemo/Common/Mqtt.Client/bin/*
/WorkDemo/MQTTDemo/Common/Mqtt.Client/obj/*
/WorkDemo/MQTTDemo/Common/Mqtt.Common/bin/*
/WorkDemo/MQTTDemo/Common/Mqtt.Common/obj/*
/WorkDemo/MQTTDemo/Common/Mqtt.Server/bin/*
/WorkDemo/MQTTDemo/Common/Mqtt.Server/obj/*

## SetupProject_Setup
/WorkDemo/SetupProject_Setup/bin/*
/WorkDemo/SetupProject_Setup/obj/*

## TaskDemo
/WorkDemo/TaskDemo/bin/*
/WorkDemo/TaskDemo/obj/*

## packages
/WorkDemo/packages/*

## WorkDemo
/WorkDemo/WorkDemo/bin/*
/WorkDemo/WorkDemo/obj/*