<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="playbackImageFloadPathDefault" value="D:\own\Code\WorkDemo\WorkDemo\CPUMonitor\VividResource\Level_none.ico"/>

		<!--0-20 20-80 80-100 显示动画图片文件夹-->
		<add key="playbackImageFload0" value="D:\own\Code\WorkDemo\WorkDemo\CPUMonitor\VividResource\Level0"/><!--0-20-->
		<add key="playbackImageFload1" value="D:\own\Code\WorkDemo\WorkDemo\CPUMonitor\VividResource\Level1"/><!--20-80-->
		<add key="playbackImageFload2" value="D:\own\Code\WorkDemo\WorkDemo\CPUMonitor\VividResource\Level2"/><!--80-100-->
	</appSettings>
</configuration>